<% content_for(:title, t('.title')) %>
<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-center text-gray-800 mb-10">
    <span class="block font-black text-5xl text-primary-500 mb-2">
      <%= t('.title') %>
    </span>
    <span class="bg-primary-500 h-1 w-20 block mx-auto"></span>
  </h1>

<!-- Form -->
  <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
      <div class="p-8">
        <%= form_with url: login_path, method: :post do |f| %>
          <%= f.label :email, User.human_attribute_name(:email), class: "block mt-3 text-lg leading-tight font-medium text-gray-700" %>
          <%= f.email_field :email, class: "block w-full mt-1 rounded-md bg-gray-200 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 shadow-sm text-gray-700", placeholder: "Enter your email" %>
          <%= f.label :password, User.human_attribute_name(:password), class: "block mt-3 text-lg leading-tight font-medium text-gray-700" %>
          <%= f.password_field :password, class: "block w-full mt-1 rounded-md bg-gray-200 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 shadow-sm text-gray-700", placeholder: "Enter your password" %>
          <div class="mt-6">
            <%= f.submit t('defaults.login'), class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-6">
    <div class="border-r-2 border-gray-400 px-4">
      <%= link_to t('.to_register_page'), new_user_path, class: "text-gray-600 hover:text-gray-900 font-medium" %>
    </div>
    <div class="px-4">
      <%= link_to t('.password_forget'), new_password_reset_path, class: "text-gray-600 hover:text-gray-900 font-medium" %>
    </div>
  </div>
</div>
