<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">ログイン</h1>

<!-- Form -->
  <%= form_with url: login_path, method: :post do |f| %>
    <div class="my-5">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="my-5">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div class="d-grid">
      <%= f.submit 'ログイン', class: 'btn btn-active btn-primary' %>
    </div>
  <% end %>

</div>
