<!-- Form -->
  <%= form_with model: @user do |f| %>
    <% if user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><i class="uil uil-exclamation-triangle mr-1"></i><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
      <div class="p-8">
          <div class="mb-6">
            <%= f.label :name, User.human_attribute_name(:name), class: "block mb-1 text-lg leading-tight font-medium text-gray-700" %>
            <%= f.text_field :name, class: "block w-full rounded-md bg-gray-200 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 shadow-sm text-gray-700 py-3 px-4 placeholder-gray-400 placeholder-opacity-75", placeholder: "Enter your email" %>
          </div>
          <div class="mb-6">
            <%= f.label :email, User.human_attribute_name(:email), class: "block mb-1 text-lg leading-tight font-medium text-gray-700" %>
            <%= f.email_field :email, class: "block w-full rounded-md bg-gray-200 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 shadow-sm text-gray-700 py-3 px-4 placeholder-gray-400 placeholder-opacity-75", placeholder: "Enter your email" %>
          </div>
          <div class="mb-6">
            <%= f.label :password, User.human_attribute_name(:password), class: "block mb-1 text-lg leading-tight font-medium text-gray-700" %>
            <%= f.password_field :password, class: "block w-full rounded-md bg-gray-200 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 shadow-sm text-gray-700 py-3 px-4 placeholder-gray-400 placeholder-opacity-75", placeholder: "Enter your password" %>
          </div>
          <div class="mb-6">
            <%= f.label :password_confirmation, class: "block mb-1 text-lg leading-tight font-medium text-gray-700" %>
            <%= f.password_field :password_confirmation, class: "block w-full rounded-md bg-gray-200 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 shadow-sm text-gray-700 py-3 px-4 placeholder-gray-400 placeholder-opacity-75", placeholder: "Enter your password" %>
          </div>
          <div class="mt-10">
            <%= f.submit t('defaults.register'), class: 'btn btn-primary btn-block' %>
          </div>
      </div>
    </div>
  <% end %>
