<!DOCTYPE html>
<html data-theme="bumblebee">
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%# <meta name="viewport" content="width=device-width,initial-scale=1"> %>
    <meta name="description" content="MenuVid(メニュービッド)は、Youtube動画であなただけの献立を自動で作成してくれるサービスです">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@2.14.1/dist/full.css" %>

    <%= javascript_importmap_tags %>

    <%= render 'layouts/google_analytics' %>

    <%= display_meta_tags(default_meta_tags) %>

    <%# Tom Select %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css">
  </head>

  <body>
    <% if logged_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_header" %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
